<html>
  <head>
    <meta content="text/html: charset = UTF-8" http-equiv="content-type">
  </head>
  <body>
  <h1>EnviosYa</h1>
    Tiene un nuevo envio para realizar a nombre de <%= @nameFrom %>:
    <br>
    Desde: <%= @addressFrom %>
    <br>
    Hasta: <%= @addressTo %>
    <br>
    Puede ver mas informacion del envio desde la app.
    <br>
    <br>
    Saludos,
    Equipo de EnviosYa!
  </body>
</html>