<html>
  <head>
    <meta content="text/html: charset = UTF-8" http-equiv="content-type">
  </head>
  <body>
    <h1>EnviosYa</h1>
    Bienvenido a nuestra aplicacion de cadeteria, <%= @from %> te a hecho un envio.<br>
    Quieres <%= link_to 'registrarte', new_user_url %> para poder empezar nuestra app?
    <br>
  Saludos,
    Equipo de EnviosYa!
  </body>
</html>