%h2 Editar Informacion
%br
= form_tag user_path(@user), :method => :put, :enctype => "multipart/form-data" do

  = render :partial => 'user_form'
  %br
  = submit_tag 'Guardar Cambios', class: "btn-primary"