<!DOCTYPE html>
<html>
<head>
  <title>EnviosYa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <h1>EnviosYa</h1>


</div>

</body>
</html>

